{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<h3>Account Balance</h3>
<div class="container">
    {% for item in object_list %}
        <p>Customer: {{ item.customer }}</p>
        <br>
        <p>Amount of transaction:$ {{ item.entry }}</p>
        <p>Date of transaction: {{ item.date }}</p>
        <P>Item was a deposit T/F: {{ item.is_deposit }}</P>
        <a href= "{% url 'account_detail_view' item.pk %}">Transaction Detail</a>
    {% endfor %}
<h4>Current Balance: ${{balance}}</h4>
</div>

{% endblock %}
