{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iron Bank</title>
        <link rel="stylesheet" href='{% static "ironapp/css/bootstrap.css" %}' media="screen" title="bootstrap" charset="utf-8">
  </head>
<body>
    <div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
      <div class="container">


            <a href="{% url 'index_view'%}">Welcome page</a>
            <a href= "{% url 'acct_bal_view' %}">view account</a>
            <a href= "{% url 'sign_up_view' %}">sign up</a>
            <a href="{%url 'login'%}">Login</a>
            <a href="{%url 'logout_view'%}?next=/">Logout</a>
            <a href= "{% url 'open_acct_view' %}">Start account today</a>




    </div>

  </div>
</div>








    </div>
        {%block content%}
            no content provided
        {% endblock %}

</body>
</html>
