{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iron Bank</title>
        <link rel = "stylesheet" href ={% static "ironapp/css/bootstrap.css"%}>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li role="presentation" class="active"><a href= "{% url 'acct_bal_view' %}">View your account</a></li>
            <li role="presentation" class="active"><a href= "{% url 'open_acct_view' %}">Make a Transaction</a></li>
            <li role="presentation" class="active"><a href="{%url 'logout_view'%}?next=/">Logout</a></li>
            {% else %}
            <li role="presentation" class="active"><a href="{% url 'index_view'%}">Home</a></li>
            <li role="presentation" class="active"><a href= "{% url 'sign_up_view' %}">Sign up a new account</a></li>
            <li role="presentation" class="active"><a href="{%url 'login'%}">Login to your account</a></li>
            {% endif %}
          </div></nav>
</head>

<body>
  <div class="container">

{%block content%}
no content provided
{% endblock %}
</div>
</body>
</html>
